h2 shout > { )

//section
//  article
//    select(name='mode')
//      option(value='realtime') realtime
//      option(value='log') shouting log

section
  div(id='btns')
    input(type='button',id='btnListen',value='Listen',class='listenToggle')
    input(type='button',id='btnClose',value='Close',class='listenToggle hide')
  article(id='layerChat',class='listenToggle hide')
    ul(id='layerChatUl')
      li hello haha
      li hoho yes
      li yeyeye
  article(id='map')
    //img(src='/testmap.jpg',width='200px',height='200px')

section
  article(id='my',class='listenToggle')
    span I'm 
    span(id='usernick') #{user.nick}
  article(class='listenToggle hide')
    form
      input(type='text', id='message', name='message')
      input(type='submit', value='shout')

script
  var usernick = myName = '#{user.nick}';
  var roomname = 'global';
  var chatWindow = $('#layerChatUl');
  var showMessage = function(msg) {
    chatWindow.append($('<li>').text(msg));     
    chatWindow.scrollTop(chatWindow.height());
  };

  var messageBox = $('#message');
  var room = null;
      
  $('form').submit(function(e) {
    e.preventDefault();
    var msg = messageBox.val();
    if ($.trim(msg) !== '') {
      showMessage(myName + ' : ' + msg);
      console.log({nickName:myName, msg:msg});
      room.json.send({nickName:myName, msg:msg});
      messageBox.val('').focus();
    }
  });

  $(document).ready(function(){
  
    var position = new daum.maps.LatLng(37.537123, 127.005523);
    var map = new daum.maps.Map(document.getElementById('map'), {
      center: position,
      level: 4,
      mapTypeId: daum.maps.MapTypeId.ROADMAP
        });

        /*
    var marker = new daum.maps.Marker({
      position: position
        });
    marker.setMap(map);

    var infowindow = new daum.maps.InfoWindow({
    content: 'Hello, World!'
        });
    infowindow.open(map, marker);
        */
    room = io.connect('/room'); 
    
    $('#btnListen').click(function() {
      $('.listenToggle').toggle();
      $.ajax({
        url : "/listen"
        ,dataType : "json"
        , success: function(data) {
          if (data) {
            chatWindow.html('');
          }
        }
      });
    });
    
  $('#btnClose').click(function(){
      //$('#layerChat').html('');
      $('.listenToggle').toggle();
      room.emit('leave', {nickName:usernick});
    });
    
    
    room.on('connect', function() {
      room.emit('join', {roomName:roomname, nickName:usernick}); 
    });

    room.on('joined', function(data) {
      if(data.isSuccess) {
        showMessage(data.nickName + '님이 입장하셨습니다.');
      }
    });

    room.on('message', function(data) {
      showMessage(data.nickName + ' : ' + data.msg); 
    });

    room.on('leaved', function(data) {
      showMessage(data.nickName + '님이 나가셨습니다.');
    });
    
  });

//script(type='text/javascript', src='/shout.js')

