h2 shout > { )

//section
//  article
//    select(name='mode')
//      option(value='realtime') realtime
//      option(value='log') shouting log

section
  div(id='btns')
    input(type='button',id='btnListen',value='Listen',class='listenToggle')
    input(type='button',id='btnClose',value='Close',class='listenToggle hide')
  article(id='layerChat',class='listenToggle hide')
    ul(id='layerChatUl')
      li hello haha
      li hoho yes
      li yeyeye
  article(id='map')
    img(src='/testmap.jpg',width='200px',height='200px')

section
  article(id='my',class='listenToggle')
    span I'm 
    span(id='usernick') #{user.nick}
  article(class='listenToggle hide')
    form
      input(type='text', name='message')
      input(type='submit', value='shout')

script
  var usernick = myName = '#{user.nick}';
  var roomname = 'global';
  var showMessage = function(msg) {
    var chatWindow = $('#layerChatUl');
    chatWindow.append($('<li>').text(msg));     
    chatWindow.scrollTop(chatWindow.height());
  };

  var messageBox = $('#message');
      
  $('form').submit(function(e) {
    e.preventDefault();
    var msg = messageBox.val();
    if ($.trim(msg) !== '') {
      showMessage(myName + ' : ' + msg);
      room.json.send({nickName:myName, msg:msg});
      messageBox.val('');
    }
  });

  $(document).ready(function(){
    var room = io.connect('/room'); 
    
    $('#btnListen').click(function() {
      $('.listenToggle').toggle();
      $.ajax({
        url : "/listen"
        ,dataType : "json"
        , success: function(data) {
          if (data) {
            alert(data.isSuccess);
          }
        }
      });
    });
    $('#btnClose').click(function(){
      //$('#layerChat').html('');
      $('.listenToggle').toggle();
      room.emit('leave', {nickName:usernick});
    });
    
    
    room.on('connect', function() {
      room.emit('join', {roomName:roomname, nickName:usernick}); 
    });

    room.on('joined', function(data) {
      if(data.isSuccess) {
        showMessage(data.nickName + '님이 입장하셨습니다.');
      }
    });

    room.on('message', function(data) {
      showMessage(data.nickName + ' : ' + data.msg); 
    });

    room.on('leaved', function(data) {
      showMessage(data.nickName + '님이 나가셨습니다.');
    });
    
  });

//script(type='text/javascript', src='/shout.js')

