!!! 5
html
  head
    title shout > { )
    link(rel='stylesheet', href='/style.css')
    script(type='text/javascript', src='/jquery-1.7.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='http://apis.daum.net/maps/maps3.js?apikey=4f0a4e3dda94030062acad36dc04aa7b26ed95de')
  body!= body
